/* account */
html, body {
    height: 100%;
  }

body{
    background-image: url(../image/image_site/accountbackground.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#top{
    display: flex;
    justify-content: space-between;
    padding: 2% 4% 0 4%;
}

/* register */
.reg , .regh1{
    display: flex;
    justify-content: center;
    border-radius: 15px;
    color: rgb(0, 0, 0);
    margin-top: 1%;
}
.reg{
    font-size: 1.2em;
}
