html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}
h1, h2 {
	font-family: 'Lato', sans-serif;
}

p[class="dropdown-item"]{
    background-color: lightgray;
    color: gray;
}

#commentaire {
    /* width: 60%; */
    /* max-width: 60% */
    padding: 35px 20% 35px 20%;
	/* padding: 50px 80px; */
	background-color: rgba(40, 61, 112, 0.9);
	color: #fff;
}
#commentaire>h2 {
	text-align: center;
	letter-spacing: 5px;
    text-transform: uppercase;
    font: 22px "Lato", sans-serif;
    margin-bottom: 2%;
}
#leaderboard>h2 {
	text-align: center;
	letter-spacing: 5px;
    text-transform: uppercase;
    font: 22px "Lato", sans-serif;
    margin-bottom: 2%;
}
#commentaire>p {
	text-align: center; 
}
#nom_com {
    font: 18px "Lato", sans-serif;
	text-decoration: underline;
}
#date_com {
    font: 12px "Lato", sans-serif;
    opacity: 0.5;
}

footer {
	color: white;
	background-color: rgba(40, 61, 112, 0.9);
	padding-top: 1%;
	padding-bottom: 0.5%;
	text-align: center;
	width: 100%;
	align-self: flex-end;
}
#developer {
	text-align: center;
	letter-spacing: 5px;
    text-transform: uppercase;
    font: 18px "Lato", sans-serif;
    font-weight: 500;
}
footer>ul {
	list-style-type: none;
}
footer>ul>li:hover {
	text-decoration: underline;
    cursor: pointer;
}
li{
    list-style-type: none;
}
.img {
	position: relative;
    background-position: center;
    background-size: cover;
}
#fin {
	background-image: url(../image/image_site/chrysantèm.jpg);
	min-height: 100%;
	background-attachment: fixed;
	background-repeat: no-repeat;
	display: flex;
}

section:last-of-type {
	padding: 50px 80px;
	background-color: rgba(40, 61, 112, 0.9);
	color: #fff;
}
section:last-of-type>div {
	display: grid;
	grid-template-columns: 50% 50% ;
	grid-auto-rows: 30px;
	justify-content: center;
	justify-items: center;
}
section:last-of-type>div>a>button {
	width: 100%;
	height: 130%;
	background-color: white;
	border: none;
	border-radius: 4px;
	box-shadow: none;
	outline: none;
	cursor: pointer;
	text-transform: uppercase;
}
section:last-of-type>div>button {
	height: 130%;
	background-color: white;
	border: none;
	border-radius: 4px;
	box-shadow: none;
	outline: none;
	cursor: pointer;
	text-transform: uppercase;
}

section:last-of-type>h2 {
	text-align: center;
	letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    margin-bottom: 2%;
}

#arbre {
	min-height: 400px;
	background-image: url(../image/image_site/nature.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
}
#arbre>span {
	position: absolute;
    left: 0;
    top: 40%;
    width: 100%;
    text-align: center;
    color: #fff;
    padding: 18px 0 18px 0;
    font-size: 25px;
    letter-spacing: 10px;
    text-transform: uppercase;
}

#fleur {
	min-height: 400px;
	background-image: url(../image/image_site/rose.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
}
#fleur>span {
	position: absolute;
    left: 0;
    top: 40%;
    width: 100%;
    text-align: center;
    color: #fff;
    padding: 18px 0 18px 0;
    font-size: 25px;
    letter-spacing: 10px;
    text-transform: uppercase;
}
#plant {
	display: flex;
	width: 100%;
	justify-content: center;
}
#plant>i {
	background-color: white;
	color: rgba(40, 61, 112, 0.9);
	padding: 2% 0 2% 0;
	margin: 0;
}
#plante {
	min-height: 400px;
	background-image: url(../image/image_site/flowers.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
}
#plante>span {
	position: absolute;
    left: 0;
    top: 40%;
    width: 100%;
    text-align: center;
    color: #fff;
    padding: 18px 0 18px 0;
    font-size: 25px;
    letter-spacing: 10px;
    text-transform: uppercase;
}

section:first-of-type {
	padding: 50px 80px;
	background-color: rgba(40, 61, 112, 0.9);
	color: #fff;
}
section:first-of-type>p {
	text-align: justify;
}
section:first-of-type>h2 {
	text-align: center;
	letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    margin-bottom: 2%;
}

#best_score{
	text-align: center;
}

#titre {
	position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}
#titre>h1 {
	margin: 0;
	width: 32%;
	margin-left: 34%;
}
#titre>h1 , #titre>span {
	background-color: rgba(40, 61, 112, 0.9);
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
    text-transform: uppercase;
}
header {
	background-image: url(../image/image_site/chrysantèm.jpg);
	min-height: 100%;
	background-attachment: fixed;
	background-repeat: no-repeat;	
}

.follow{
	position: fixed;
	width: 100%;
	margin-top: 2%;
	margin-left: 3%;
	z-index: 5;
}

/* #lang{
} */
#connect{
	margin-left: 84%;
	margin-top: -49px;
}