html, body {
    height: 100%;
  }
#holderrouting{
    height: 100%;
    background-image: url(../image/image_site/accountbackground.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.center{
    display: flex;
    justify-content: center;
}

/* listing */
#holderlist{
    background-image: url(../image/image_site/decord2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

table{
    opacity: 0.7;
}
tr{
    opacity: 1;
}
/* update */

.up{
    margin: 1em auto; 
    max-width: 800px; 
    width: 95%; 
    font: 18px/1.5 sans-serif;
    /* background: #F5F5F5;  */
    padding: 2px 6px;
    
}

#back{
    background-image: url(../image/image_site/decord1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}