html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

span {
    font-family: 'Lato', sans-serif;
    position: absolute;
    top: 5%;
    text-align: center;
	margin-bottom: 1.5%;
	width: 100%;
	background-color: rgba(40, 61, 112, 0.9);
    color: #fff;
    padding: 18px 0 18px 0;
    font-size: 25px;
    letter-spacing: 10px;
    text-transform: uppercase;
}

.question_text {
    font-family: 'Poppins', sans-serif;
	position: absolute;
    top: 15%;
    width: 40%;
    background-color: rgba(40, 61, 112, 0.9);
    padding: 10px 0 10px 0;
    text-align: center;
    color: white;
    margin: 0 30% 0 30%;
	text-transform: uppercase;
	font-size: 0.9em;
}

.question_text_typea {
    font-family: 'Poppins', sans-serif;
	position: absolute;
    top: 15%;
    width: 80%;
    background-color: rgba(40, 61, 112, 0.9);
    padding: 15px 15px 15px 15px;
    text-align: center;
    color: white;
    margin: 0 10% 0 10%;
	text-transform: uppercase;
	font-size: 0.75em;
}

body {
	background-image: url(../image/image_site/question.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

main {
	display: flex;
	width: 100%;
	height: 100%;
}

.typea {
	width: 50%;
	height: 80%;
}

.btypea {
	height: 100%;
	padding: 0;
	border: none;
}

.btypea:hover {
	cursor: pointer;
	border: 2px solid;
	border-color: white;
	box-shadow: none;
	outline: none;
}

.img {
	position: relative;
    background-position: center;
    background-size: cover;
}

#chronotime{
	position: absolute;
	font-size: 1.6em;
	color: #fff;
	top: 7%;
	left: 5%;
}

#img_desc {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 50% 50%;
	height: 57%;
	width: 50%;
	background-color: rgba(40, 61, 112, 0.9);
	margin: 0 25% 0 25%;
	position: absolute;
	top: 35%;
	justify-items: center;
	align-items: center;
}

#img {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 50% 50%;
	height: 60%;
	width: 50%;
	background-color: rgba(40, 61, 112, 0.9);
	margin: 0 25% 0 25%;
	position: absolute;
	top: 30%;
	justify-items: center;
	align-items: center;
}

img {
    max-width: 300px;
    max-height: 200px;
}

.question_image {
	top: 19%;
	position: relative;
	width: 50%;
	height: 36%;
	margin: 0 25% 0 25%;
	text-align: center;
}

#image_question_image{
	max-width: 1300px;
    max-height: 273px;
}

#bt {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 50% 50%;
	width: 50%;
	height: 30%;
	background-color: rgba(40, 61, 112, 0.9);
	margin: 0 25% 0 25%;
	position: absolute;
	top: 43%;
	justify-items: center;
	align-items: center;
}

#bt2 {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 50% 50%;
	width: 50%;
	height: 30%;
	background-color: rgba(40, 61, 112, 0.9);
	margin: 0 25% 0 25%;
	position: absolute;
	top: 60%;
	justify-items: center;
	align-items: center;
}

.typeb {
	width: 50%;
}

.btypeb {
    padding: 5%;
    margin:  12%;
	width: 100%;
	background-color: white;
	border: none;
	border-radius: 4px;
	box-shadow: none;
	outline: none;
	cursor: pointer;
	text-transform: uppercase;
}

.btypeb:hover {
	background-color: rgba(40, 61, 112, 0.9);
	color: white;
}