html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}
 
img {
    max-width: 500px;
    max-height: 500px;
    margin: 10px;
}

.contneur_img{
    text-align: center;
}

h1 {
    font-family: 'Lato', sans-serif;
    position: absolute;
    top: 35%;
    width: 100%;
    text-align: center;
    color: #000;
    background-color: rgba(40, 61, 112, 0.9);
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
    text-transform: uppercase;
    margin: 0;
	width: 32%;
    margin-left: 34%;
}

.textWhite{
    color: white;
}

#afficheScore{
    font-size: 16px;
    letter-spacing: 2px;
}

body {
	background-image: url(../image/image_site/flowers.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;	
}

section {
    position: absolute;
    top: 100%;
    width: 52%;
	margin: 0 24% 0 24%;
	padding: 5%;
	background-color: rgba(40, 61, 112, 0.9);
	color: white;
}

#resultatQuestion{
    text-transform: uppercase;
    font-weight: bold; 
    font-size: 25px;
    
}

.question_numerot_bold{
   font-weight: bold; 
   font-size: 18px;
}

.btn_retour{
    position: fixed;
    top: 2%;
    left: 1%;
    margin: 20px;
    padding: 5px;
    /* background-color: #fff; */
}

.btn_recommencer{
    position: fixed;
    top: 9%;
    left: 1%;
    margin: 20px;
    padding: 5px;
    /* background-color: #fff; */
}

