{% extends 'base.html.twig' %}
{% block title %}Forgotten Password !{% endblock %}
{% block body %}
    {% for flash_message in app.session.flashbag.get('notice') %}
        <div class="alert alert-success">
        {{ flash_message }}
        </div>
    {% endfor %}
    {% for flash_message in app.session.flashbag.get('error') %}
        <div class="alert alert-danger">
        {{ flash_message }}
        </div>
    {% endfor %}
    {% if form %}
        {{ form(form) }}
    {% endif %}
{% endblock %}