{% extends 'base.html.twig' %}

{% block title %}{{'login.login'|trans}}!{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="../public/CSS/acclogreg.css">{% endblock %}
{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            {{'login.logged'|trans}} {{ app.user.username }}, <a href="{{ path('app_logout') }}">{{'home.logout'|trans}}</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">{{'login.title'|trans}}</h1>
    <label for="inputEmail">{{'registration.email'|trans}}</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
    <label for="inputPassword">{{'registration.password'|trans}}</label>
    <input type="password" name="password" id="inputPassword" class="form-control" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >
    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}
    <button class="btn btn-lg btn-primary" type="submit">
        {{'login.sign'|trans}}
    </button>
    {# <a href="{{ path('connect_facebook_start') }}" class="btn btn-lg btn-primary">{{'login.logfacebook'|trans}}</a> #}
    <a href="{{ path('connect_google_start') }}" class="btn btn-lg btn-primary">{{'login.loggoogle'|trans}}</a>
    <a href="{{path('plantastique')}}" class="btn btn-info">{{'home.home'|trans}}</a>
</form>

{% endblock %}
