{% extends 'base.html.twig' %}

{% block title %}{{'question.question'|trans}}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="../CSS/question.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{% endblock %}

{% block body %}

<span>{{'question.question'|trans}} {{ app.session.get('num_question') }}</span>

<div name="chronotime" id="chronotime"></div>

{% if type=="typeA" %} {# affiche question/reponce type a #}
    <br>
    {% if categorie_type == "Description" %}
        <div class="question_text_typea">
            {{question_text}}
        </div>
    {% else %}
        <div class="question_text">
            {{question_text}}
        </div>
    {% endif %}
    <br>
    {% if categorie_type == "Description" %}
        <form id="img_desc" action="/quizz_plantastique/quizzplantastique/public/question" method="GET">
    {% else %}
        <form id="img" action="/quizz_plantastique/quizzplantastique/public/question" method="GET">
    {% endif %}
        <div class="type_image">
            <button name="button" type="submit" class="btypea q1" value={{ordre1|replace({' ':'_'})}} ><img src="../../public/image/image_plant/{{ordre1}}"></button>
        </div>
        <div class="type_image">
            <button name="button" type="submit" class="btypea q2" value={{ordre2|replace({' ':'_'})}} ><img src="../../public/image/image_plant/{{ordre2}}"></button>
        </div>
        <div class="type_image">
            <button name="button" type="submit" class="btypea q3" value={{ordre3|replace({' ':'_'})}}} ><img src="../../public/image/image_plant/{{ordre3}}"></button>
        </div>
        <div class="type_image">
            <button name="button" type="submit" class="btypea q4" value={{ordre4|replace({' ':'_'})}}><img src="../../public/image/image_plant/{{ordre4}}"></button>
        </div>
    </form>
{% elseif type=="typeB" %} {# affiche question/reponce type b #}
    <div class="question_text">
        {{question_text}}
    </div>
    <br>
    <form id="bt" action="/quizz_plantastique/quizzplantastique/public/question" method="GET">
        <div class="type_text">
            <button name="button" type="submit" class="btypeb q1" value={{ordre1|replace({' ':'_'})}} >n°1: {{ordre1}}</button>
        </div>
        <div class="type_text">
            <button name="button" type="submit" class="btypeb q2" value={{ordre2|replace({' ':'_'})}} >n°2: {{ordre2}}</button>
        </div>
        <div class="type_text">
            <button name="button" type="submit" class="btypeb q3" value={{ordre3|replace({' ':'_'})}} >n°3: {{ordre3}}</button>
        </div>
        <div class="type_text">
            <button name="button" type="submit" class="btypeb q4" value={{ordre4|replace({' ':'_'})}}>n°4: {{ordre4}}</button>
        </div>
    </form>
{% else %} {# affiche question/reponce type c #}
    <div class="question_text">
        {{question_text}}
    </div>
    <br>
    <div class="question_image">
        <img id="image_question_image" src="../../public/image/image_plant/{{question_image}}">
    </div>
    <br>
    <form id="bt2" action="/quizz_plantastique/quizzplantastique/public/question" method="GET">
        <div class="type_text">
            <button name="button" type="submit" class="btypeb q1" value={{ordre1|replace({' ':'_'})}} >n°1: {{ordre1}}</button>
        </div>
        <div class="type_text">
            <button name="button" type="submit" class="btypeb q2" value={{ordre2|replace({' ':'_'})}} >n°2: {{ordre2}}</button>
        </div>
        <div class="type_text">
            <button name="button" type="submit" class="btypeb q3" value={{ordre3|replace({' ':'_'})}} >n°3: {{ordre3}}</button>
        </div>
        <div class="type_text">
            <button name="button" type="submit" class="btypeb q4" value={{ordre4|replace({' ':'_'})}}>n°4: {{ordre4}}</button>
        </div>
    </form>
{% endif %}

{% endblock %}

{% block javascripts %}

    <script>
        var startTime = 0
        var start = 0
        var end = 0
        var diff = 0
        var timerID = 0

        window.onload = chronoStart; 
        
        function chrono(){
            end = new Date()

            //window.alert(start - end);
            diff = end - start
            diff = new Date(diff)

            var sec = diff.getSeconds()
            var min = diff.getMinutes()
            if (min < 10){
                min = "0" + min
            }
            if (sec < 10){
                sec = "0" + sec
            }

            var d = new Date();
            d.setTime(d.getTime() + (1*09*60*60*1000));
            var expires = "expires=" + d.toGMTString();
            document.cookie = "chrono=" + start + ";" + expires + ";path=/";

            //window.alert(diff);

            document.getElementById("chronotime").innerHTML =  min + ":" + sec 
            timerID = setTimeout("chrono()", 1000)
        }
        function chronoStart(){
            var Cookie = getCookie("chrono")
            var timer = getCookie("chronometre")

            if (timer=="true"){
                if (Cookie!= ""){
                    start = new Date(Cookie)
                }else{
                    start = new Date()
                }
                chrono()
            }
        }

        function getCookie(cname) {
            var name = cname + "=";
            var ca = document.cookie.split(';');
            for(var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') {
                c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                }
            }
            return "";
        }
    </script>

{% endblock %}


