{% extends 'base.html.twig' %}

{% block title %}Hello QuestionController!{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="../public/CSS/reponse.css">
{% endblock %}

{% block body %}
<button name="retour" onclick="window.location. href='//localhost/quizz_plantastique/quizzplantastique/public'"  class="btn btn-light btn_retour">{{'question.retour'|trans}}</button>
<br>
<button name="recommencer" onclick="window.location. href='//localhost/quizz_plantastique/quizzplantastique/public/question'"  class="btn btn-light btn_recommencer">{{'question.recommencer'|trans}}</button>

<h1><div class="textWhite">
    <span>{{'question.Résultat'|trans}}</span>
    <br>
    <div id="chronono"></div>
    {{'question.Note'|trans}} : {{ testscore }} / {{ app.session.get('total_num_question') }} ! 
    {# {{'question.nquestion'|trans}}: {{ app.session.get('total_num_question') }} #}
    <br> 
    {% if  testpoint is defined  %}
        <span id="afficheScore">({{'question.point'|trans}} = {{ testpoint }}, {{'question.multiplicateur'|trans}} = x{{ testmultiplicateur }} ! {{'question.total'|trans}} = {{ testpointTotal }} ! )</span>
    {% endif %}
</div></h1>

<section>
    <br> 
    <br>
    <span id="resultatQuestion">{{'question.reponses'|trans}}</span>
    <br>
    <br>

    {% for i in 1..app.session.get('total_num_question') %}
        {% set nom_question = "question_complet" ~ i %}

        <span class="question_numerot_bold"> {{'question.question'|trans}} {{ i }} : </span>
        <br>

        {% if app.session.get( nom_question ).type == "typeA" %}
            
            {{ app.session.get( nom_question ).question_text }}
            <br>
            <br>
            {# {{ app.session.get( nom_question ).ordre1 }} #}
            {# <div class="contneur_img"><img src="../public/image/image_plant/{{app.session.get(nom_question).ordre1}}" }} /></div>
            <br> #}
            {# {{ app.session.get(nom_question).ordre2 }} #}
            {# <div class="contneur_img"><img src="../public/image/image_plant/{{app.session.get(nom_question).ordre2}}" }} /></div>
            <br> #}
            {# {{ app.session.get(nom_question).ordre3 }} #}
            {# <div class="contneur_img"><img src="../public/image/image_plant/{{app.session.get(nom_question).ordre3}}" }} /></div>
            <br> #}
            {# {{ app.session.get(nom_question).ordre4 }} #}
            {# <div class="contneur_img"><img src="../public/image/image_plant/{{app.session.get(nom_question).ordre4}}" }} /></div>
            <br> #}
            <span class="question_numerot_bold"> {{'question.bonne_reponse'|trans}} : </span>
            <br>
            <div class="contneur_img"><img src="../public/image/image_plant/{{app.session.get(nom_question).bonne_reponse}}" }} /></div>
            {# {{ app.session.get( nom_question ).bonne_reponse|replace({' ': '_' }) }} #}
            <br>
            <span class="question_numerot_bold"> {{'question.votre_reponse'|trans}} : </span>
            <br>
            <div class="contneur_img"><img src="../public/image/image_plant/{{app.session.get("num_reponse" ~ i)|replace({'_': ' ' }) }}" }} /></div>
            {# {{ app.session.get( "num_reponse" ~ i ) }} #}
            <br>
            <br>
            <br>
            <br>
            <br>

        {% elseif app.session.get( nom_question ).type == "typeB" %}
        
            {{ app.session.get( nom_question ).question_text }}
            <br>
            <br>
            <ul>
                <li>{{ app.session.get( nom_question ).ordre1 }}</li>
                <br>
                <li>{{ app.session.get( nom_question ).ordre2 }}</li>
                <br>
                <li>{{ app.session.get( nom_question ).ordre3 }}</li>
                <br>
                <li>{{ app.session.get( nom_question ).ordre4 }}</li>
            </ul>
            <br>
            <span class="question_numerot_bold">{{'question.bonne_reponse'|trans}}:</span>
            <br>
            {{ app.session.get( nom_question ).bonne_reponse|replace({' ': '_' }) }}
            <br>
            <br>
            <span class="question_numerot_bold">{{'question.votre_reponse'|trans}}:</span>
            <br>
            {{ app.session.get( "num_reponse" ~ i ) }}
            <br>
            <br>
            <br>
            <br>
            <br>
            
        {% else %}
        
            {{ app.session.get( nom_question ).question_text }}
            <br>
            <div class="contneur_img"><img src="../public/image/image_plant/{{app.session.get(nom_question).question_image}}"></div>
            <br>
            <br>
            <ul>
                <li>{{ app.session.get( nom_question ).ordre1 }}</li>
                <br>
                <li>{{ app.session.get( nom_question ).ordre2 }}</li>
                <br>
                <li>{{ app.session.get( nom_question ).ordre3 }}</li>
                <br>
                <li>{{ app.session.get( nom_question ).ordre4 }}</li>
            </ul>
            <br>
            <span class="question_numerot_bold">{{'question.bonne_reponse'|trans}}:</span>
            <br>
            {{ app.session.get( nom_question ).bonne_reponse|replace({' ': '_' }) }}
            <br>
            <br>
            <span class="question_numerot_bold">{{'question.votre_reponse'|trans}}:</span>
            <br>
            {{ app.session.get( "num_reponse" ~ i ) }}
            <br>
            <br>
            <br>
            <br>
            <br>
        
            
        {% endif %}
    {% endfor %}
</section>

{% endblock %}

{% block javascripts %}
    <script>
        window.onload = deleteCookie;

        function deleteCookie(){
            var Cookie = getCookie("chrono");
            var timer = getCookie("chronometre")
            var end = new Date()
            var time = new Date(Cookie)

            diff = end - time
            diff = new Date(diff)
            var sec = diff.getSeconds()
            var min = diff.getMinutes()
            if (min < 10){
                min = "0" + min
            }
            if (sec < 10){
                sec = "0" + sec
            }

            if (timer=="true"){
                document.getElementById("chronono").innerHTML="{{'question.temps'|trans}} : " + min + ":" + sec ;
            }

            if (Cookie!= ""){
                var d = new Date();
                d.setTime(d.getTime() + (0*0*0*0*1000));
                var expires = "expires=" + d.toGMTString();
                document.cookie = "chrono='';" + expires + ";path=/";
            }
        }

        function getCookie(cname) {
            var name = cname + "=";
            var ca = document.cookie.split(';');
            for(var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') {
                c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                }
            }
            return "";
        }
    </script>
{% endblock %}
