{% extends 'base.html.twig' %}
{% block title %}{{'account.account'|trans}}{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="../public/CSS/acclogreg.css">{% endblock %}
{% block body %}
<div id="top">
    <div class="btn btn-info">{{'account.hello'|trans}} {{ app.user.firstname }}</div>
    <a href="{{path('plantastique')}}" class="btn btn-info">{{'home.home'|trans}}</a>
</div>
<div id="center">
    <table id="display" class="table table-info ">
        <thead class="table-dark">
            <tr>
                <th scope="col">{{'account.info'|trans}} </th>
                <th scope="col">{{'registration.name'|trans}}</th>
                <th scope="col">{{'registration.last'|trans}}</th>
                <th scope="col">{{'registration.email'|trans}}</th>
                <th scope="col">{{'account.signin'|trans}}</th>
                <th scope="col">{{'account.lastscore'|trans}}</th>
                <th scope="col">{{'account.bestscore'|trans}}</th>
                <th scope="col">{{'account.rank'|trans}}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_CONTRIBUTOR') %}
                    <td><a class="btn btn-primary" href="{{path('select')}}">update/create</a></td>
                    {% else %}
                    <td></td>
                {% endif %}
                <td>{{app.user.firstname}}</td>
                <td>{{app.user.lastname}}</td>
                <td>{{app.user.email}}</td>
                <td>{{app.user.signindate|date('d/m/Y')}}</td>
                <td>{{app.user.getLastscore()}}</td>
                <td>{{app.user.getBestscore()}}</td>
                <td>{{rank}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div id="com">
    <table id="displaycom" class="table table-info ">
        <thead class="table-dark">
            <tr>
                <th scope="col">{{'account.com'|trans}}</th>
                <th scope="col">{{'account.comdate'|trans}}</th>
            </tr>
        </thead>
        <tbody>
            {% for com in comment %} 
                <tr>
                    <td>{{ com.commentary }}</td>
                    <td>{{ com.postdate|date('d/m/Y') }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}