{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="../public/CSS/accueil.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{% endblock %}
{% block title %} Quizz plantastique {% endblock %}
{% block body %}

{# {{'test.test'|trans}} #}

{# langue #}
<div class="follow">
    <div class="dropdown" id="lang">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            langue
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="/quizz_plantastique/quizzplantastique/public/change_locale/fr"><img src=../public/image/site/francais.png>fr</a>
            <a class="dropdown-item" href="/quizz_plantastique/quizzplantastique/public/change_locale/en"><img src=../public/image/site/anglais.png>en</a>
            <p class="dropdown-item" href="/quizz_plantastique/quizzplantastique/public/change_locale/"><img src=../public/image/site/allemand.png>ger</p>
            <p class="dropdown-item" href="/quizz_plantastique/quizzplantastique/public/change_locale/"><img src=../public/image/site/italien.png>ita</p>
            <p class="dropdown-item" href="/quizz_plantastique/quizzplantastique/public/change_locale/"><img src=../public/image/site/espagnol.png>es</p>
            <p class="dropdown-item" href="/quizz_plantastique/quizzplantastique/public/change_locale/"><img src=../public/image/site/portugal.png>por</p>
        </div>
    </div>

    {# connection / inscription #}
    <div class="dropdown" id="connect">
        {% if app.user %}
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ app.user.firstname }}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="{{path('account')}}">{{'home.account'|trans}}</a>
                <a class="dropdown-item" href="{{path('app_logout')}}">{{'home.logout'|trans}}</a>
            </div>
            <img src="data:{{ app.user.getMimeType() }};base64,{{ app.user.getAvatar() }}" width="60px" height="60px">
            <div>
                {{ app.user.getAvatar() }}
            </div>
            {% else %}
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ 'home.log'|trans }}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="{{path('app_login')}}">{{'home.login'|trans}}</a>
                <a class="dropdown-item" href="{{path('app_register')}}">{{'home.signin'|trans}}</a>
            </div> 
        {% endif %}
    </div>
</div>

{% for flash_message in app.session.flashbag.get('notice') %}
    <div class="alert alert-success">
        {{ flash_message }}
    </div>
 {% endfor %}

{# titre #}
<header>
    <div id="titre">
        <h1>{{'home.QUIZZ'|trans}}</h1><br>
        <span>{{'home.PLANTASTIC'|trans}} !</span>
    </div>
</header>

<div id="plant"><i class="fab fa-pagelines fa-3x"></i></div>

<div class="img" id="plante">
	<span>{{'home.PLANTES'|trans}}</span>
</div>

{# leaderboard #}
<section>
    <div id="leaderboard">
        <h2>{{'home.CLASSEMENT'|trans}}</h2>
        <div id="best_score">
            <br>
            {# {% if app.user %} #}
                {% for score in scoreUser %} 
                    <p><span>{{ score.firstname }} {{ score.lastname }}</span> : <span>{{ score.bestscore }}</span></p>
                {% endfor %}
            {# {% endif %} #}
        </div>
    </div>
</section>

<div class="img" id="arbre">
	<span>{{'home.ARBRES'|trans}}</span>
</div>

{# quizz #}
<section>
    <h2>{{'home.choix'|trans}}</h2>
    <div id="quizz">
        {% if app.user %}
            <button type="button" onclick="goToChronono()" class="btn btn-light">{{'home.chronono'|trans}}</button> 
            <button type="button" onclick="goToChrono()" class="btn btn-light">{{'home.chrono'|trans}}</button>
            {# <a href="{{path('question',{timeattack:true})}}" class="btn btn-primary">{{'home.timeattack'|trans}}</a> #}
        {% else %}
            {{'login.title'|trans}}
            {# <a href="{{path('plantaerror')}}" class="btn btn-primary">{{'home.chronono'|trans}}</a>
            <a href="{{path('plantaerror')}}" class="btn btn-primary">{{'home.chrono'|trans}}</a> #}
            {# <a href="{{path('plantaerror')}}" class="btn btn-primary">{{'home.timeattack'|trans}}</a> #}
        {% endif %}
    </div>
</section>

<div class="img" id="fleur">
	<span>{{'home.FLEURS'|trans}}</span>
</div>

{# commentaire #}
<div id="commentaire">
    <h2>{{'home.LES_AVIS'|trans}}</h2>
    <br>
    {# {% if app.user %} #}
        {% for com in comment %} 
            <p><span id="nom_com">{{ com.getUserId().firstname }}</span> : " {{ com.commentary }} " <span id="date_com">{{ com.postdate|date('d/m/Y') }}</span></p>
        {% endfor %}
    {# {% endif %}   #}

    {% if app.user %}
        <br>
        <button id="btnFormCom" class="btn btn-light" onclick="showFormCom()">{{'home.laisser_nous'|trans}}</button> 
        {# <button id="formComClose" style="display: none" onclick="hideFormCom()">fermer</button>   #}
        <form id="formCom" action="/quizz_plantastique/quizzplantastique/public/comment" style="display: none">
            <textarea name="textComment" class="form-control" rows="3" placeholder="plouf"></textarea>
            <button class="btn btn-light">{{'home.envoie'|trans}}</button> 
        </form>       
    {% endif %}                                                                                                                            
</div>

{# developper #}
<div class="img" id="fin">
    <footer>
        <div id="developper">
            <span id="developer">{{'home.DÉVELOPPER'|trans}} :</span>
            <br><br>
            <ul>	
                <li>Kieran</li>
                <li>Esteban</li>
                <li>Damien</li>
            </ul>
        </div>
    </footer>
</div>

{% endblock %}

{% block javascripts %}
    <script>

        window.onload = resetChronometre; 
        var visible=false;

        function resetChronometre(){
            var d = new Date();
            d.setTime(d.getTime() + (0*0*0*0*1000));
            var expires = "expires=" + d.toGMTString();
            document.cookie = "chronometre='';" + expires + ";path=/";
        }

        function goToChronono(){
            var d = new Date();
            d.setTime(d.getTime() + (1*24*60*60*1000));
            var expires = "expires=" + d.toGMTString();
            document.cookie = "chronometre=false;" + expires + ";path=/";

            window.location.href = 'question'
        }

        function goToChrono(){
            var d = new Date();
            d.setTime(d.getTime() + (1*24*60*60*1000));
            var expires = "expires=" + d.toGMTString();
            document.cookie = "chronometre=true;" + expires + ";path=/";

            window.location.href = 'question';
        }

        function showFormCom(){
            if (visible==false){
                document.getElementById("formCom").style.display = "block";
                document.getElementById("btnFormCom").innerHTML = "{{'home.fermer'|trans}}";
                visible=true;
            }else{
                document.getElementById("formCom").style.display = "none";
                document.getElementById("btnFormCom").innerHTML = "{{'home.laisser_nous'|trans}}";
                visible=false;
            }
        }

    </script>
{% endblock %}

