{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="../public/CSS/acclogreg.css">{% endblock %}
{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1 class="regh1">Register</h1>

    {{ form_start(registrationForm) }}
        <div class="reg">{{ form_row(registrationForm.firstname) }}</div>
        <div class="reg">{{ form_row(registrationForm.lastname) }}</div>
        <div class="reg">{{ form_row(registrationForm.email) }}</div>
        <div class="reg">{{'security.pass'|trans}}</div>
        <div class="reg">{{ form_row(registrationForm.plainPassword, {
            label: 'registration.password'
        }) }}</div>
        <div class="reg">{{ form_row(registrationForm.Avatar)}}</div>
        <div class="reg">{{ form_row(registrationForm.agreeTerms) }}</div>
        <div class="reg"><button type="submit" class="btn btn-lg btn-primary">Register</button></div>  
        <div class="reg">{# <a href="{{ path('connect_facebook_start') }}" class="btn btn-lg btn-primary">{{'registration.signface'|trans}}</a> #}</div>
        <div class="reg"><a href="{{ path('connect_google_start') }}" class="btn btn-lg btn-primary">{{'registration.signgoogle'|trans}}</a></div>
    {{ form_end(registrationForm) }}
    
{% endblock %}
