{% extends 'base.html.twig' %}

{% block title %}Mise a jour des tâches!{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="{{ asset('CSS/plant.css') }}">{% endblock %}
{% block body %}

<div id="back">
    <div class="up">
    {{form_start(form)}}
    {{form_widget(form)}}
    {{'listing.imageerror'|trans}}
    {{form_end(form)}}
    <a class="btn btn-primary" href="{{path('select')}}">{{'listing.cancel'|trans}}</a>
    </div>
</div>

{% endblock %}