{% extends 'base.html.twig' %}

{% block title %}{{'listing.routing'|trans}}{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="../public/CSS/plant.css">{% endblock %}
{% block body %}

<div id="holderrouting">
    <div class="center">
        {{form_start(select)}}
        <div class="center">
            {{form_widget(select)}}
        </div>
        
        {{form_end(select)}}
    </div>
</div>

{% endblock %}