{% extends 'base.html.twig' %}
{% block title %}{{'title.listing'|trans}}!{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="{{ asset('CSS/plant.css') }}">{% endblock %}
{% block body %}
<div id="holderlist">
    <h1>{{'title.listing'|trans}}</h1>
    <a href="{{path('plantastique')}}" class="btn btn-info">{{'home.home'|trans}}</a>
    {% for flash_message in app.session.flashbag.get('notice') %}
        <div class="alert alert-success">
            {{ flash_message }}
        </div>
    {% endfor %}
    {% for flash_message in app.session.flashbag.get('error') %}
        <div class="alert alert-danger">
            {{ flash_message }}
        </div>
    {% endfor %}
    <a href="{{path('plant_create',{lang:lang})}}" class="btn btn-primary">{{'listing.create'|trans}}</a>
    <table id="display" class="table table-info ">
        <thead class="table-dark">
            <tr>
                <th scope="col">{{'listing.update'|trans}}</th>
                {% if is_granted('ROLE_ADMIN') %}
                <th scope="col">{{'listing.del'|trans}}</th>
                {% endif %}
                <th scope="col">{{'listing.name'|trans}}</th>
                <th scope="col">{{'listing.latin'|trans}}</th>
                <th scope="col">{{'listing.desc'|trans}}</th>
                <th scope="col">{{'listing.native'|trans}}</th>
                <th scope="col">{{'listing.type'|trans}}</th>
                <th scope="col">{{'listing.genus'|trans}}</th>
                <th scope="col">{{'listing.family'|trans}}</th>
                <th scope="col">{{'listing.color'|trans}}</th>
                <th scope="col">{{'listing.use'|trans}}</th>
                <th scope="col">{{'listing.flower'|trans}}</th>
                <th scope="col">{{'listing.ptype'|trans}}</th> 
            </tr>       
        </thead>
        <tbody>
            {% if listplant is defined %}
                    {% for Plant in listplant %}
                        <tr>
                            <td><a href="{{path('update',{id:Plant.id, lang:lang})}}" class="btn btn-primary">{{'listing.update'|trans}}</a></td>
                            {% if is_granted('ROLE_ADMIN') %}
                            <td><a href="{{path('delete',{id:Plant.id, lang:lang})}}" class="btn btn-danger">{{'listing.del'|trans}}</a></td>
                            {% endif %}
                            <th>{{ Plant.Name}}</th>
                            <td>{{ Plant.LatinName}}</td>
                            <td>{{ Plant.Description}}</td>
                            <td>{{ Plant.Nativefrom}}</td>
                            <td>{{ Plant.Type}}</td>
                            <td>{{ Plant.Genus}}</td>
                            <td>{{ Plant.Family}}</td>
                            <td>{{ Plant.Leafcolor}}</td>
                            <td>{{ Plant.Commonuse}}</td>
                            <td>{{ Plant.Flowerinin}}</td>
                            <td>{{ Plant.Planttype}}</td>
                        </tr>
                {% endfor %}
            {% endif %}
        </tbody>
        <tfoot class="table-dark">
            <tr>
                <th scope="col">{{'listing.update'|trans}}</th>
                {% if is_granted('ROLE_ADMIN') %}
                <th scope="col">{{'listing.del'|trans}}</th>
                {% endif %}
                <th scope="col">{{'listing.name'|trans}}</th>
                <th scope="col">{{'listing.latin'|trans}}</th>
                <th scope="col">{{'listing.desc'|trans}}</th>
                <th scope="col">{{'listing.native'|trans}}</th>
                <th scope="col">{{'listing.type'|trans}}</th>
                <th scope="col">{{'listing.genus'|trans}}</th>
                <th scope="col">{{'listing.family'|trans}}</th>
                <th scope="col">{{'listing.color'|trans}}</th>
                <th scope="col">{{'listing.use'|trans}}</th>
                <th scope="col">{{'listing.flower'|trans}}</th>
                <th scope="col">{{'listing.ptype'|trans}}</th>
            </tr>         
        </tfoot>
    </table>
</div>
{% endblock %}
 {% block javascripts %} 
 <script>$(document).ready(function() {
    $('#display').DataTable({
        "iDisplayLength": 20
      ,
        columns: [
        { orderable: false },
        { orderable: false },
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
  ]} );
} );</script>
{% endblock %}