{% extends 'base.html.twig' %}
{% block title %}Forgotten password{% endblock %}
{% block body %}
Hi {{ name }}!
Your password has been changed.
{# example, assuming you have a route named "login" #}
To login, go to: <a href="{{ url('app_login') }}">...</a>.
Thanks!
{% endblock %}